.batatada{
* {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100%;
  background: linear-gradient(130deg, rgb(232, 132, 39) 0%, rgba(28, 118, 153, 0.685) 50%, rgba(125, 9, 167, 0.922) 100%);
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  width: max-content;
  padding: 1.5rem;
  border-radius: 30px;
  background-image: linear-gradient(130deg, rgb(56, 9, 63), rgb(15, 34, 94));
  margin: 16px 0px 32px 0px;
}

main ul {
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 3px 3px 6px rgb(0, 0, 0);

  img {
    margin: 16px 0px 16px 0px;
    max-width: 280px;
    max-height: 280px;
    min-width: 280px;
    min-height: 280px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
  }

  li {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.744);
    margin: 1rem;

    p {
      width: 300px;
      text-align: justify;
      font-size: 18px;
    }
  }
}

h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  background-image: linear-gradient(130deg, rgb(56, 9, 63), rgb(15, 34, 94));
  border-radius: 10px;
  padding: 7px 0px 7px 0px;
}
}